<table class="striped">
    <thead>
        <tr>
            <th>CRAP</th>
            <th>Complexity</th>
            <th>Coverage</th>
            <th>Location</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{decimal statements.crap}}</td>
            <td>{{complexity}}</td>
            <td>{{statements.covered}}/{{statements.total}} ({{percentage statements.coverage}})</td>
            <td>
                {{filePath}}
                ({{functionLineNumber this}})
            </td>
        </tr>
    </tbody>
</table>

<pre
    class="line-numbers z-depth-1"
    {{! <-- settings for https://prismjs.com/plugins/line-numbers/}}
    data-start="{{start.line}}"
    {{! --> }}
    {{! <-- settings for https://prismjs.com/plugins/line-highlight}}
    data-line="{{uncoveredLineList this}}"
    data-line-offset="{{start.line}}"
    {{! --> }}
    style="margin: 1em 0;"
><code class="language-typescript">{{sourceCode}}</code></pre>