<div class="card-panel orange accent-2">
    <p>
        CRAP:
        {{decimal statements.crap}}
        -- Coverage:
        {{statements.covered}}/{{statements.total}}
        ({{percentage statements.coverage}})
    </p>

    <p>
        {{filePath}}
        ({{functionLineNumber this}})
    </p>
</div>

<pre><code class="language-typescript z-depth-1">{{sourceCode}}</code></pre>