<table class="striped">
    <thead>
        <tr>
            <th>CRAP</th>
            <th>Complexity</th>
            <th>Coverage</th>
            <th>Location</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{decimal statements.crap}}</td>
            <td>{{complexity}}</td>
            <td>{{statements.covered}}/{{statements.total}} ({{percentage statements.coverage}})</td>
            <td>
                {{filePath}}
                ({{functionLineNumber this}})
            </td>
        </tr>
    </tbody>
</table>

<pre><code class="language-typescript z-depth-1">{{sourceCode}}</code></pre>